body {
  background-color: lightgreen;
}

.container {
  width: 800px;
  margin: 0 auto;
  border: 1px solid black;
} 

div.menus {
  background-color: darkblue;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul.list-menu li.menu {
  display: inline;
  font-size: 20px;
}

ul.list-menu li.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-left: 10px;
  color: white;
}

img.image-header {
  width: 800px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 10px solid yellow;
  border-bottom: 10px solid green;
  box-sizing: border-box;
}

p.paragraf {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0 auto;
    background-color: lightblue;
  }

  div.menus {
    text-align: center;
    background-color: purple;
  }

  ul.list-menu li.menu {
    display: inline;
    font-size: 1rem;
  }

  ul.list-menu li.menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-left: 5px;
  }

  img.image-header {
    width: 100%;
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 10px solid yellow;
    border-bottom: 10px solid green;
    box-sizing: border-box;
  }

  p.paragraf {
    font-size: 1em;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .container {
    width: 100%;
    margin: 0 auto;
    background-color: yellow;
  }

  div.menus {
    text-align: center;
  }

  ul.list-menu li.menu {
    display: inline;
    font-size: 2em;
  }

  ul.list-menu li.menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-left: 10px;
  }

  img.image-header {
    width: 100%;
    height: 25em;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 10px solid green;
    border-bottom: 10px solid green;
    box-sizing: border-box;
  }

  p.paragraf {
    font-size: 1.5em;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
  }
}